/* .app__image {
  display: flex;
  justify-content: center;
  height: 600px;
  background-size: 95% 700px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  
} */

.app {
  background-color: white;
}

.app__image {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.app__image > img {
  width: 85vw;
  border-radius: 10px;
}
